# --- KRİTİK VE ÖZEL DOSYALAR (Güvenlik için) ---
appsettings.json
appsettings.Development.json

*.key.json

# --- .NET BUILD ÇIKTILARI (Boyutu şişiren asıl yer burası) ---
bin/
obj/
# Visual Studio ve Rider ayarları
.vs/
.idea/
*.user
*.userosscache
*.sln.docstates


backend/Katalogcu.API/wwwroot/uploads/

**/wwwroot/uploads/
**/wwwroot/wwwroot/uploads/

# --- FRONTEND KALINTILARI (Eğer backend içinde frontend varsa) ---
node_modules/
dist/
.angular/

# --- SİSTEM VE DİĞER ---
.DS_Store

*.use